<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Jessica Wong">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pattern Library - Typography</title>
    
    <link rel="stylesheet" href="../css/style.css">
    

    
    <link href='css/style.css'  type="text/css" rel="stylesheet" /> 
    
    
<!----------GOOGLE FONTS--------->     
    
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Kulim+Park:400,600|Poppins|Prociono|Sree+Krushnadevaraya&display=swap" rel="stylesheet">


<section>
    
    
<table style="width: 75%" border= "1px">
    
    <h2> Foundaries that offer versions of Baskerville</h2>
    
    <tr>
            <th>Hot type</th>
            <th>Cold type</th>
            <th>Digital type</th>
    </tr>    
    
    <tr>
            <td>Deberny and Peignot</td>
            <td>Autologic</td>
            <td>Linotype</td>    
    </tr>
        
    <tr>    
            <td>Fry Foundry</td>
            <td>Berthold</td>
            <td>URW++</td>     
    </tr>
    
    <tr>
            <td>American Type Founders</td>
            <td>Compugraphic</td>
            <td>Montotype</td>    
    </tr>    
        
    <tr>
            <td>lintotype</td>
            <td>Hell AG</td>
            <td>Bitstream</td>   
    </tr>
    
    <tr>
            <td>Lanston Monotype</td>
            <td>Monotype</td>
            <td></td>
    </tr>
    
</table> 
    
    </section>
    
    
    <section>
    
  

        <h2>List of typefaces</h2>
    
        <table>

            <caption>The following list presents the typefaces our designers are best known for and some of the foundries who still produce them.</caption>

            <tr>
                <th>Designer</th>
                <th>Typeface</th>
                <th>Foundary</th>
            </tr> 
                
            <tr>
                <td rowspan="3">Nicolas Jenson</td>
                <td>Adobe Jenson</td>
                <td>Adobe</td>
            </tr>  
            <tr>
                <td>Jenson Classico</td>
                <td>Omnibus Typografi</td>
            </tr>  
                 <tr>
                <td>LTC Jenson</td>
                <td>Lanston Type</td>
            </tr> 
                
             <tr>
                <td rowspan="3">Claude Garamont</td>
                <td>Berthold Garamond</td>
                <td>Berthold</td>
            </tr>  
            <tr>
                <td>Simoncini Garamond</td>
                <td>Linotype</td>
            </tr>  
                 <tr>
                <td>Adobe Garamond</td>
                <td>Adobe</td>
            </tr>
                    
                
            <tr>
                <td rowspan="3">William Caslon</td>
                <td>Caslon 540</td>
                <td>Bitstream</td>
            </tr>  
            <tr>
                <td>ITC Founders Caslon</td>
                <td>ITC Library</td>
            </tr>  
                 <tr>
                <td>Adobe Caslon</td>
                <td>Adobe</td>
            </tr>
                
            <tr>
                <td rowspan="3">John Baskerville</td>
                <td>Baskerville</td>
                <td>Monotype</td>
            </tr>  
            <tr>
                <td>Baskerville Old Face</td>
                <td>Scangraphic</td>
            </tr>  
                 <tr>
                <td>Baskerville No.2</td>
                <td>Bitstream</td>
            </tr>
            
            <tr>
                <td rowspan="3">Giambattista Bodoni</td>
                <td>Bodoni</td>
                <td>Adobe</td>
            </tr>  
            <tr>
                <td>Bauer Bodoni</td>
                <td>Linotype</td>
            </tr>  
                 <tr>
                <td>Bodoni Classic</td>
                <td>Wiescher Design</td>
            </tr>
 
</table>
            
    
    </section>